.barra-azul {
    background-color: #3E558B; 
    color: #fff; 
    padding: 20px 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.barra-azul a {
    color: #fff;
    text-decoration: none;
    margin: 0 10px;
}

.barra-azul a:hover {
    text-decoration: underline;
}

body {
    background-color:lightgray;
}

button {
    background-color: #fff;
    color: #3E558B;
    border: none;
    padding: 5px
}

input {
    padding: 5px;
    
}

#submenu-instituicao
{
    font-size: 20px;
}